.card{
    height: 65vh;
        #card-img{
            height: 35vh;
            width: 100%;
           padding: 5%;          
        }
    }
    .button{
        text-align: center;
        margin: 10%;
        
    }